body {
  background-color: white;
}
.shapesPath:hover {
  fill: #FFED46;
}
.shapes {
  transition: transform 0.2s ease-out;
  z-index: 1;
}
.shapesCont {
  position: absolute;
  opacity: 0;
  transition: 0.1s 0.2s;
}
.shapeHint {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}

/* ПОЗИЦИОНИРОВАНИЕ ПОСЛЕ ЗАГРУЗКИ */
.r1 {
  position: absolute;
  left: 1411px;
  top: 186px;
  transform: rotate(58deg);
}
.r2 {
  position: absolute;
  transform: rotate(302deg);
  left: 63px;
  top: 184px;
}
.r3 {
  position: absolute;
  transform: rotate(118deg);
  left: 677px;
  top: 56px;
}
.r4 {
  position: absolute;
  transform: rotate(-152deg);
  left: 606px;
  top: 41px;
}
.r5 {
  position: absolute;
  transform: rotate(-43deg);
  left: 1297px;
  top: 676px;
}
.r6 {
  position: absolute;
  transform: rotate(118deg);
  left: 619px;
  top: 586px;
}
