body {
  background-color: white;
}
#draw {
  display: block;
  background-image: url('../images/drawBack1920.svg');
  object-position: center center;
}
.drawBack {
  position: absolute;
}

/* КНОПКИ ЦВЕТ */
.colorButton {
  position: relative;
  width: 34px;
  height: 34px;
  transition: width 0.2s ease-in-out;
}
.colorButton:hover {
  width: 60px;
  transition: width 0.2s ease-in-out;
}
.colorButton:active {
  opacity: 80%;
  width: 56px;
  transition: width 0.1s ease-in-out;
}
.cb01 {
  margin-left: 6px;
  background-color: #FD4E2B;
  border-radius: 8px 0px 0px 8px;
}
.cb02 {
  background-color: #420CDB;
}
.cb03 {
  background-color: black;
  border-radius: 0px 8px 8px 0px;
}
