body {
  background-color: black;
}

/* MOVE AREA */
.persMoveArea{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

/* ТЕЛО */
.pers {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.persBody {
  fill: #FD4E2B;
}
.persBody:hover {
  fill: #FFED46;
}

/* ГЛАЗА */
.eye1 {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  height: 207px;
  width: 207px;
  background: white;
  top: 145px;
  left: 0px;
}
.eye1::after {
  position: absolute;
  bottom: 22px;
  right: 60px;
  width: 80px;
  height: 80px;
  background: black;
  border-radius: 50%;
  content: " ";
  transition: all 0.1s ease-out;
}
.eye2 {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  height: 207px;
  width: 207px;
  background: white;
  top: 0px;
  left: 693px;
}
.eye2::after {
  position: absolute;
  bottom: 22px;
  right: 60px;
  width: 80px;
  height: 80px;
  background: black;
  border-radius: 50%;
  content: " ";
  transition: all 0.1s ease-out;
}
.bigEyes::after {
  bottom: 18px;
  right: 45px;
  width: 110px;
  height: 110px;
  transition: all 0.1s ease-out;
}

/* НАВЕДЕНИЕ → ОРАНЖЕВЫЙ ФОН */
.orangeBack {
  background-color: #FD4E2B;
}
