/* COMMON */
/* COMMON */
/* COMMON */
@media only screen and (max-width: 1365px) {
  .cursor, .cursorLabel, .cursorLabelClickDis {
    display: none;
  }
  * {
    cursor: auto;
  }
}





/* MAP */
/* MAP */
/* MAP */
@media only screen and (min-width: 1366px) {
  .containerMainPageMobile {
    display: none;
  }
}
@media only screen and (min-width: 2560px) {
  .previewsMainPage {
    transform: scale(1.2);
    margin-left: 310px;
    margin-top: -200px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .previewsMainPage {
    transform: scale(0.8);
    margin-left: -223px;
    margin-top: 118px;

  }
}
@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  .previewsMainPage {
    transform: scale(0.8);
    margin-left: -238px;
    margin-top: 84px;
  }
}
@media only screen and (max-width: 1365px) {
  .container {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
  .bottomButtons {
    position: fixed;
  }
  .containerMainPageMobile {
    /* position: relative; */
    margin: 20px auto;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
  }
  .buttonsMainPageMobile {
    position: relative;
    background-color: #FD4E2B;
    border-radius: 8px;
    width: 100%;
    height: 400px;
    font-family: Helvetica;
    color: white;
    font-size: 84px;
    line-height: 80%;
  }
  .buttonsMainPageMobile:active {
    background-color: #FFED46;
  }
  .labelsMainPageMobile {
    position: absolute;
    margin-top: 26px;
    margin-left: 26px;
  }
  .bm2, .bm3 {
    margin-top: 16px;
  }
  .bm1 {
    background-image: url("../images/bm1-1.svg");
  }
  .bm2 {
    background-image: url("../images/bm1-2.svg");
  }
  .bm3 {
    background-image: url("../images/bm1-3.svg");
  }
  .blackHoleMobile {
    margin: 26px auto;
    width: 566px;
    height: 566px;
    background-color: black;
    border-radius: 50%;
  }
  .blackHoleMobile:active {
    background-color: #FFED46;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}
@media only screen and (min-width: 414px) and (max-width: 767px) {
  .bottomButtons {
    position: fixed;
  }
  .containerMainPageMobile {
    /* position: relative; */
    margin: 12px auto;
    width: calc(100% - 24px);
    display: flex;
    flex-direction: column;
  }
  .buttonsMainPageMobile {
    position: relative;
    background-color: #FD4E2B;
    border-radius: 8px;
    width: 100%;
    height: 390px;
    font-family: Helvetica;
    color: white;
    font-size: 64px;
    line-height: 80%;
  }
  .buttonsMainPageMobile:active {
    background-color: #FFED46;
  }
  .labelsMainPageMobile {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
  }
  .bm2, .bm3 {
    margin-top: 10px;
  }
  .bm1 {
    background-image: url("../images/bm2-1.svg");
  }
  .bm2 {
    background-image: url("../images/bm2-2.svg");
  }
  .bm3 {
    background-image: url("../images/bm2-3.svg");
  }
  .blackHoleMobile {
    margin: 20px auto;
    width: 340px;
    height: 340px;
    background-color: black;
    border-radius: 50%;
  }
  .blackHoleMobile:active {
    background-color: #FFED46;
  }
}
@media only screen and (max-width: 413px) {
  .bottomButtons {
    position: fixed;
  }
  .containerMainPageMobile {
    /* position: relative; */
    margin: 12px auto;
    width: calc(100% - 24px);
    display: flex;
    flex-direction: column;
  }
  .buttonsMainPageMobile {
    position: relative;
    background-color: #FD4E2B;
    border-radius: 8px;
    width: 100%;
    height: 336px;
    font-family: Helvetica;
    color: white;
    font-size: 56px;
    line-height: 80%;
  }
  .buttonsMainPageMobile:active {
    background-color: #FFED46;
  }
  .labelsMainPageMobile {
    position: absolute;
    margin-top: 18px;
    margin-left: 18px;
  }
  .bm2, .bm3 {
    margin-top: 10px;
  }
  .bm1 {
    background-image: url("../images/bm2-1.svg") no-repeat;
  }
  .bm2 {
    background-image: url("../images/bm2-2.svg") no-repeat;
  }
  .bm3 {
    background-image: url("../images/bm2-3.svg") no-repeat;
  }
  .blackHoleMobile {
    margin: 20px auto;
    width: 340px;
    height: 340px;
    background-color: black;
    border-radius: 50%;
  }
  .blackHoleMobile:active {
    background-color: #FFED46;
  }
}




/* PERS */
/* PERS */
/* PERS */
@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  .pers {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .pers {
    transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .pers {
    transform: translateX(-50%) translateY(-50%) scale(0.7);
  }
}
@media only screen and (min-width: 414px) and (max-width: 767px) {
  .pers {
    transform: translateX(-50%) translateY(-50%) scale(0.4);
  }
}
@media only screen and (min-width: 360px) and (max-width: 413px) {
  .pers {
    transform: translateX(-50%) translateY(-50%) scale(0.35);
  }
}
@media only screen and (max-width: 359px) {
  .pers {
    transform: translateX(-50%) translateY(-50%) scale(0.3);
  }
}





/* PAINT */
/* PAINT */
/* PAINT */
@media only screen and (min-width: 2560px) {
  #draw {
    background: url('../images/drawBack2560.svg') no-repeat;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  #draw {
    background: url('../images/drawBack1440.svg') no-repeat;
  }
}
@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  #draw {
    background: url('../images/drawBack1366.svg') no-repeat;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  #draw {
    background: url('../images/drawBack1024.svg') no-repeat;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #draw {
    background: url('../images/drawBack768.svg') no-repeat;
  }
}
@media only screen and (min-width: 414px) and (max-width: 767px) {
  #draw {
    background: url('../images/drawBack414.svg') no-repeat;
  }
}
@media only screen and (max-width: 413px) {
  #draw {
    background: url('../images/drawBack360.svg') no-repeat;
  }
}





/* DRAG */
/* DRAG */
/* DRAG */
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .shapesCont {
    left: -270px;
  }
}
@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  .shapesCont {
    left: -330px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .shapesCont {
    left: -482px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .r1 {
    width: 312px;
    left: 459px;
    top: 270px;
  }
  .r2 {
    width: 372px;
    left: 34px;
    top: 557px;
  }
  .r3 {
    width: 683px;
    left: 27px;
    top: 26px;
  }
  .r4 {
    width: 91px;
    left: 571px;
    top: 28px;
  }
  .r5 {
    width: 107px;
    left: 594px;
    top: 702px;
  }
  .r6 {
    width: 104px;
    left: 55px;
    top: 119px;
  }
}
@media only screen and (max-width: 767px) {
  .r1 {
    width: 187px;
    left: 250px;
    top: 256px;
  }
  .r2 {
    width: 223px;
    left: -99px;
    top: 321px;
  }
  .r3 {
    width: 409px;
    left: -10px;
    top: -33px;
  }
  .r4 {
    width: 54px;
    left: 270px;
    top: 123px;
  }
  .r5 {
    width: 64px;
    left: 228px;
    top: 581px;
  }
  .r6 {
    width: 60px;
    left: 79px;
    top: 298px;
  }
}
