* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow: hidden;
  background-color: black;
  width: 100vw;
  height: 100vh;
  cursor: none;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Roman.ttf') format("truetype");
}

.cursor {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #FD4E2B;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.1s ease-out, height 0.1s ease-out;
}
.cursorClick {
  width: 12px;
  height: 12px;
  transition: width 0.1s ease-out, height 0.1s ease-out;
}
.cursorLabel {
  width: 65px;
  height: 34px;
  border-radius: 16px;
  background-color: #FD4E2B;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
  padding-top: 6px;
  transform: translate(9px, -43px);
  pointer-events: none;
  transition: width 0.4s ease-out;
}
.cursorLabel::after {
  content: "move";
}
.cursorLabelClick {
  width: 57px;
  transition: width 0.4s ease-out;
}
.cursorLabelClick::after {
  content: "click";
}
.cursorLabelClickAndMove {
  width: 123px;
  transition: width 0.4s ease-out;
  overflow: hidden;
}
.cursorLabelClickAndMove::after {
  content: "move & click";
  white-space: nowrap;
}
.cursorLabelDragAndClick {
  width: 115px;
  transition: width 0.4s ease-out;
  overflow: hidden;
  display: block;
}
.cursorLabelDragAndClick::after {
  content: "drag & click";
  white-space: nowrap;
    display: block;
}

.logoBorder {
  position: relative;
  width: 80px;
  height: 58px;
  left: 20px;
  top: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  z-index: 98;
}
.logoBorder:hover {
  background-color: #FFED46;
}
.logoBorder:hover .logo {
  fill: #FD4E2B;
}
.logo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  fill: black;
  z-index: 99;
}
